@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1722331533160') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qizi:before {
  content: "\e654";
}

.icon-noun__cc:before {
  content: "\e607";
}

.icon-gouwuche:before {
  content: "\e629";
}

.icon-008duihuakuang-7:before {
  content: "\e806";
}

.icon-dian:before {
  content: "\e6d3";
}

.icon-chevron_left:before {
  content: "\e61b";
}

.icon-chevron_big_up:before {
  content: "\e61c";
}

.icon-chevron_big_down:before {
  content: "\e61d";
}

.icon-chevron_right:before {
  content: "\e61e";
}

.icon-download:before {
  content: "\e63c";
}

.icon-heart_outline:before {
  content: "\e63d";
}

.icon-search:before {
  content: "\e63e";
}

.icon-play_arrow:before {
  content: "\e63f";
}

.icon-tag-outline:before {
  content: "\e640";
}

